Flask==2.3.3
python-dotenv==1.0.0
Pygame==2.1.2
Pillow==9.3.0
Pyglet==1.5.28
flask-bootstrap==3.3.1
flask-wtf==1.0.3
wtf-validator==2.1.0
flask-jwt-extended==4.3.0
requests==2.28.2
pygame-sdl2==2.0.0
pygame-mixer==2.0.0
PyOpenGL==3.1.6
PyOpenGL-accelerate==3.1.6
numpy==1.23.4
scipy==1.9.3
scikit-image==0.19.3
scikit-learn==1.1.2
pandas==1.4.3
matplotlib==3.5.1
seaborn==0.12.0
bokeh==2.4.3
plotly==5.13.0
pandas-datareader==0.10.0
yfinance==1.0.0
fake-useragent==0.1.11
beautifulsoup4==4.11.1
lxml==4.9.1
selenium==4.3.0
selenium-wire==3.1.0
selenium-standalone==4.3.0
webdriver-manager==3.8.1
PyJWT==2.4.0
PyYAML==6.0
Flask-Login==0.5.0
Flask-Principal==0.4
Flask-User==0.2.6
Flask-SQLAlchemy==2.5.1
sqlalchemy-utils==0.37.0
Flask-Mail==0.9.1
Flask-WhooshAlchemy==0.57
Flask-WTF==1.0.3
Flask-Admin==1.5.8
Flask-SQLAlchemy==2.5.1
Flask-Babel==2.0.0
Babel==2.12.1
Flask-Login==0.5.0
Flask-Principal==0.4
Flask-User==0.2.6
Flask-SQLAlchemy==2.5.1
sqlalchemy-utils==0.37.0
Flask-Mail==0.9.1
Flask-WhooshAlchemy==0.57
Flask-WTF==1.0.3
Flask-Admin==1.5.8
Flask-SQLAlchemy==2.5.1
Flask-Babel==2.0.0
Babel==2.12.1
PyJWT==2.4.0
PyYAML==6.0
Flask-Login==0.5.0
Flask-Principal==0.4
Flask-User==0.2.6
Flask-SQLAlchemy==2.5.1
sqlalchemy-utils==0.37.0
Flask-Mail==0.9.1
Flask-WhooshAlchemy==0.57
Flask-WTF==1.0.3
Flask-Admin==1.5.8
Flask-SQLAlchemy==2.5.1
Flask-Babel==2.0.0
Babel==2.12.1
