# .env.example

# Configurations de Streamlit
STREAMLIT_THEME = "light"
STREAMLIT_WIDTH = 1200

# Configurations de la base de données ( exemple avec SQLite )
DB_NAME = "database.db"

# Paramètres de connexion à la base de données ( exemple )
DB_USER = "admin"
DB_PASSWORD = "password"
DB_HOST = "localhost"
DB_PORT = 5432

# URL du serveur de données ( exemple )
SERVER_URL = "https://example.com/api"

# Nom de la page ( titre )
PAGE_TITLE = "Dashboard Interactif"

# Nom de la page ( sous-titre )
PAGE_SUBTITLE = "Visualisations interactives"

# Chemin vers l'image du logo ( exemple )
LOGO_IMAGE = "logo.png"

# Chemin vers le fichier CSS personnalisé ( exemple )
CUSTOM_CSS = "custom.css"
