requirements.txt
Flask==2.3.3
python-dotenv==1.0.0
psycopg2==2.9.3
redis==4.3.0
elasticsearch==7.17.6
Flask-Redis==2.1.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
WTForms==3.0.0
Bootstrap==5.2.2
Font-Awesome==5.15.3
sqlalchemy==1.4.39
