Flask==2.3.3
Flask-SQLAlchemy==2.5.1
Flask-Bootstrap==3.3.7.1
Matplotlib==3.6.2
python-dotenv==1.0.0
sqlite3==3.40.0
Font-Awesome==6.2.1
Bootstrap==5.2.3
Jinja2==3.1.2
Werkzeug==2.2.3
MarkupSafe==2.1.1
itsdangerous==2.1.2
Click==8.1.3
Flask-WTF==1.0.1
WTForms==3.0.1
Flask-Login==0.6.0
Flask-Bcrypt==1.0.1
PyJWT==2.4.0
python-decouple==3.6
Flask-Admin==1.6.0
Flask-Principal==0.4.0
Flask-Mail==0.9.1
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
Flask-Script==2.0.6
Flask-Migrate==3.1.0
Flask-Assets==2.0
Flask-Compress==1.10
Flask-Talisman==0.8.1
Flask-Security-Too==3.0.0
Flask-DebugToolbar==0.11.0
Flask-Testing==0.8.1
Pytest==7.1.2
Pytest-Cov==4.0.0
Pytest-Flask==1.2.0
Selenium==4.7.0
requests==2.28.1
beautifulsoup4==4.11.1
lxml==4.9.1
cssselect==0.9.2
soupsieve==2.3.2
html5lib==1.1
webencodings==0.5.1
Pillow==9.2.0
python-magic==0.4.24
docutils==0.19
mistletoe==0.8.3
Pygments==2.12.0
Jupyter-Core==4.11.1
ipython==8.4.0
ipython-genutils==0.2.0
traitlets==5.5.0
decorator==5.1.1
pickleshare==0.7.5
prompt-toolkit==3.0.31
ipython-core==8.4.0
ipython-genutils==0.2.0
backcall==0.2.0
pexpect==4.8.0
stack-data==0.3.0
setuptools==65.5.1
wheel==0.38.4
pip==22.3
setuptools-scm==7.0.5
pre-commit==2.20.0
pre-commit-hooks==3.4.0
yapf==0.32.11
isort==5.12.0
black==22.12.0
flake8==6.0.0
mypy==0.971
pyupgrade==3.2.0
pytype==2022.10.17
types-requests==2.28.10
types-Pygments==2.12.0
types-ipython==8.4.0
types-prompt-toolkit==3.0.31
types-traitlets==5.5.0
types-decorator==5.1.1
types-pickleshare==0.7.5
types-backcall==0.2.0
types-pexpect==4.8.0
types-stack-data==0.3.0
types-setuptools==65.5.1
types-wheel==0.38.4
types-pip==22.3
types-setuptools-scm==7.0.5
types-pre-commit==2.20.0
types-pre-commit-hooks==3.4.0
types-yapf==0.32.11
types-isort==5.12.0
types-black==22.12.0
types-flake8==6.0.0
types-mypy==0.971
types-pyupgrade==3.2.0
types-pytype==2022.10.17
types-types-requests==2.28.10
types-types-Pygments==2.12.0
types-types-ipython==8.4.0
types-types-prompt-toolkit==3.0.31
types-types-traitlets==5.5.0
types-types-decorator==5.1.1
types-types-pickleshare==0.7.5
types-types-backcall==0.2.0
types-types-pexpect==4.8.0
types-types-stack-data==0.3.0
types-types-setuptools==65.5.1
types-types-wheel==0.38.4
types-types-pip==22.3
types-types-setuptools-scm==7.0.5
types-types-pre-commit==2.20.0
types-types-pre-commit-hooks==3.4.0
types-types-yapf==0.32.11
types-types-isort==5.12.0
types-types-black==22.12.0
types-types-flake8==6.0.0
types-types-mypy==0.971
types-types-pyupgrade==3.2.0
types-types-pytype==2022.10.17
Flask-Session==0.4.0
Flask-Principal==0.4.0
Flask-Login==0.6.0
Flask-Bcrypt==1.0.1
Flask-Mail==0.9.1
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
Flask-Script==2.0.6
Flask-Migrate==3.1.0
Flask-Assets==2.0
Flask-Compress==1.10
Flask-Talisman==0.8.1
Flask-Security-Too==3.0.0
Flask-DebugToolbar==0.11.0
Flask-Testing==0.8.1
Pytest==7.1.2
Pytest-Cov==4.0.0
Pytest-Flask==1.2.0
Selenium==4.7.0
requests==2.28.1
beautifulsoup4==4.11.1
lxml==4.9.1
cssselect==0.9.2
soupsieve==2.3.2
html5lib==1.1
webencodings==0.5.1
Pillow==9.2.0
python-magic==0.4.24
docutils==0.19
mistletoe==0.8.3
Pygments==2.12.0
Jupyter-Core==4.11.1
ipython==8.4.0
ipython-genutils==0.2.0
traitlets==5.5.0
decorator==5.1.1
pickleshare==0.7.5
prompt-toolkit==3.0.31
ipython-core==8.4.0
ipython-genutils==0.2.0
backcall==0.2.0
pexpect==4.8.0
stack-data==0.3.0
setuptools==65.5.1
wheel==0.38.4
pip==22.3
setuptools-scm==7.0.5
pre-commit==2.20.0
pre-commit-hooks==3.4.0
yapf==0.32.11
isort==5.12.0
black==22.12.0
flake8==6.0.0
mypy==0.971
pyupgrade==3.2.0
pytype==2022.10.17
types-requests==2.28.10
types-Pygments==2.12.0
types-ipython==8.4.0
types-prompt-toolkit==3.0.31
types-traitlets==5.5.0
types-decorator==5.1.1
types-pickleshare==0.7.5
types-backcall==0.2.0
types-pexpect==4.8.0
types-stack-data==0.3.0
types-setuptools==65.5.1
types-wheel==0.38.4
types-pip==22.3
types-setuptools-scm==7.0.5
types-pre-commit==2.20.0
types-pre-commit-hooks==3.4.0
types-yapf==0.32.11
types-isort==5.12.0
types-black==22.12.0
types-flake8==6.0.0
types-mypy==0.971
types-pyupgrade==3.2.0
types-pytype==2022.10.17
Flask==2.3.3
Flask-SQLAlchemy==2.5.1
Flask-Bootstrap==3.3.7.1
Matplotlib==3.6.2
python-dotenv==1.0.0
sqlite3==3.40.0
Font-Awesome==6.2.1
Bootstrap==5.2.3
Jinja2==3.1.2
Werkzeug==2.2.3
MarkupSafe==2.1.1
itsdangerous==2.1.2
Click==8.1.3
Flask-WTF==1.0.1
WTForms==3.0.1
Flask-Login==0.6.0
Flask-Bcrypt==1.0.1
PyJWT==2.4.0
python-decouple==3.6
Flask-Admin==1.6.0
Flask-Principal==0.4.0
Flask-Mail==0.9.1
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
Flask-Script==2.0.6
Flask-Migrate==3.1.0
Flask-Assets==2.0
Flask-Compress==1.10
Flask-Talisman==0.8.1
Flask-Security-Too==3.0.0
Flask-DebugToolbar==0.11.0
Flask-Testing==0.8.1
Pytest==7.1.2
Pytest-Cov==4.0.0
Pytest-Flask==1.2.0
Selenium==4.7.0
requests==2.28.1
beautifulsoup4==4.11.1
lxml==4.9.1
cssselect==0.9.2
soupsieve==2.3.2
html5lib==1.1
webencodings==0.5.1
Pillow==9.2.0
python-magic==0.4.24
docutils==0.19
mistletoe==0.8.3
Pygments==2.12.0
Jupyter-Core==4.11.1
ipython==8.4.0
ipython-genutils==0.2.0
traitlets==5.5.0
decorator==5.1.1
pickleshare==0.7.5
prompt-toolkit==3.0.31
ipython-core==8.4.0
ipython-genutils==0.2.0
backcall==0.2.0
pexpect==4.8.0
stack-data==0.3.0
setuptools==65.5.1
wheel==0.38.4
pip==22.3
setuptools-scm==7.0.5
pre-commit==2.20.0
pre-commit-hooks==3.4.0
yapf==0.32.11
isort==5.12.0
black==22.12.0
flake8==6.0.0
mypy==0.971
pyupgrade==3.2.0
pytype==2022.10.17
types-requests==2.28.10
types-Pygments==2.12.0
types-ipython==8.4.0
types-prompt-toolkit==3.0.31
types-traitlets==5.5.0
types-decorator==5.1.1
types-pickleshare==0.7.5
types-backcall==0.2.0
types-pexpect==4.8.0
types-stack-data==0.3.0
types-setuptools==65.5.1
types-wheel==0.38.4
types-pip==22.3
types-setuptools-scm==7.0.5
types-pre-commit==2.20.0
types-pre-commit-hooks==3.4.0
types-yapf==0.32.11
types-isort==5.12.0
types-black==22.12.0
types-flake8==6.0.0
types-mypy==0.971
types-pyupgrade==3.2.0
types-pytype==2022.10.17
Flask-Session==0.4.0
Flask-Principal==0.4.0
Flask-Login==0.6.0
Flask-Bcrypt==
Flask\nBootstrap\nMatplotlib\nSQLite\n