typescript
// .gitignore

npm-debug.log
yarn-debug.log
yarn-error.log
*.log
.idea/
node_modules/
.cache/
.pgsnaps/

src/__test__/
src/__mocks__
src/__snapshots__

/src/server.js
/src/index.tsx
/src/index.html
/src/public/
